/**/
/* body */
/**/

{
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
	/* Background properties */
	background-image: url("../img/divBackground.jpg");
	background-color: #cccccc;
    /* This needs to be changed. The moving background is NOT nice!!!! */
	background-attachment: fixed;
	background-position: center;
    background-size: cover;
}

.head{
    color: #212121;
    font-size: 2.0em;

}

.subHead1 {
    color: #757575;
    font-size: 1.2em;
}

.subHead2 {
    color: #757575;
    font-size: 1.1em;
}

.text {
    color: #555555;
    font-size: 1.0em;
}

/**/
/* menu */
/**/

.nav ul{
	list-style-type: none;
	line-height: 36px;
	background-color: black;
	text-align: left;

}

.nav li{
	display: inline;
}
.nav a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	margin: 0;
	padding: 9px 40px;
	word-spacing: 4px;
}

.nav li a:hover {
    background-color: #555;
    color: white;
}



/**/
/* footer */
/**/

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:#888484;
    text-align:center;

}

.footer li{
	display: inline;
}
.footer a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	margin: 0;
	padding: 9px 40px;
	word-spacing: 4px;
}


/**/
/* general layout */
/**/


.outer-div {
	height: 100%;
    padding: 30px;
	left:10%;
	right:10%;
}

.inner-div {
	margin: 0 auto;
	max-width: 90%; /* max allowed width */
	min-width: 300px; /* min allowed width*/
	height: 100%;	/* Fill 100% height */
	border: 1px solid black;
	background-color: lightgrey;
	box-shadow: 5px 0px 30px -2px rgba(0,0,0,0.8);
    overflow: hidden; /* covers floating elements */
}


/* split page and floatbox */

.splitpage_wrapper {
    display: flex;
    flex-direction: row;
}
.split_left {
    flex:80%;
    border-right: 1px solid black;

}
.split_right {
    flex:20%;
    background-color:#cccccc;
    border-left: 1px solid black;
}


.floatbox-wrapper{
    background-color: #cccccc;
}

.floatbox-upper {
    padding-left:10px;
    top:0;
    background-color: darkred;
    color: white;
    height: auto;
    border-bottom: 3px solid black;
    display: flex;
    vertical-align: middle;
}

.floatbox {
    border-left: 1px solid black;
}

.floatbox-under img {
    display:flex;
    width:100%;
}

.floatbox-under p {
    padding-left: 10px;
    line-height: 0.5em;
    font-size: 0.9em;
}

.floatbox-under ul{
    list-style-type: none;
    line-height: 29px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.thumbnail {
    display: block;
    width: 100%;
}


/* Uncomment the following if needed
.img-small {
  height: 100px;
  width: auto;
}
*/
.img-medium {
  height: 200px;
  width: auto;
}

.img-large {
  height: 500px;
  width: auto;
}
/*
.img-xlarge {
  height: 1000;
  width: auto;
}*/







/**/
/* about */
/**/

.about_main {
    padding: 20px;
}
.about_main img {
  float:left;
}
.about_main section {
    display: block;
}




/**/
/* game_details */
/**/


/**/
/* games */
/**/



/**/
/* index / frontpage */
/**/

#frontpage_header {
    display:block; /* block needed to remove gab */
    width: 100%;
}


.front_youtube {
    display: flex; /* removes small gab */
    width: 100%;
}

.news_thumbnail {
    margin-top: 10px;
    padding: 10px;
    float: left;
}
.news_thumbnail h4 {
    color: gray();
}
.news_thumbnail p {
    margin: 0 auto;
}
.news_thumbnail.img {
    max-height: 150px;
}
.news_thumbnail span {
    color: grey;
    font-size: 0.7em;
}


/**/
/* news */
/**/


/**/
/* players */
/**/


.playerDiv {
    width:55%;
    margin-left: auto;
    margin-right: auto;
}

#squad {
    padding-top: 2%;
    padding-bottom: 0.5%;
    text-align: center;
    border-bottom: 0.08em solid #BDBDBD;
}

#squadNote {
    padding: 2%;
    margin-bottom: 1%;
    text-align: center;
}


.player .subHead1{
    width: 21.1%;
    margin-left: 2%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 0.08em solid #BDBDBD;
}


.playerContainer {
    position:relative;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 3%;
    width:20%;
    background-image: url(../img/stadium/stadiumProfile.jpg);
    background-size: cover;
    border-radius: 10px;
}

.playerImage {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
}

.playerOverlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease; /* shown smooth on hover */
    opacity:0;
    color: white;
    font-size: 1.0em;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.playerContainer:hover .playerOverlay {
    opacity: 1;
}

/**/
/* playerDetail */
/**/


.playerPic {
    margin-top: 2%;
    width: 95%;
    margin-left: auto; /* center the image */
    margin-right: auto; /* center the image */
    background-image: url(../img/stadium/Stadium2.jpg);
    background-size: cover; /* covers the entire background - might stretch */
    border-radius: 10px; /* rounded corner on pic */
}

.playerContent {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.playerPic > img{
    width: 40%;
    border-radius: 10px;
    display: flex;
}

.playerPic .head{
    width:60%;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-size: 2.3em;
}

#playerName {
    margin-top: 24%;
}


#playerDetail {
    margin-left: 1%;
    width: 98%;
    font-size: 1.5em;
    margin-top: 2%;
    padding-left: 1.5%;
    padding-bottom: 1%;
    border-bottom: 0.08em solid #BDBDBD;
}

#playerMail {
    float: right;
    margin-top: 0.5%;
    padding-right: 2.5%;
    font-size: 0.9em;
}

#playerMail a:hover {
    cursor: pointer;
}

#playerBio {
    width: 25%;
    margin-top: 2%;
    padding-left: 2.5%;
}

.playerInfo .text {
    line-height: 1.4em;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.8%;
}

.personal, .metric {
    width: 25%;
    float: left;
    padding-left: 2.5%;
    padding-top: 1.2%;
    margin-bottom: 1%
}

.personal .text, .metric .text {
    padding-left: 0;

}

#abilities, #weaknesses {
    padding-left: 2.5%;
    padding-top: 0.8%;
}

.superpower {
    margin-bottom: 2%;
}

.superpower ul {
    margin: 0;
}
